<template>
    <section class="popup-overlay">
        <div class="popup">
            <h2>{{title}}</h2>
            <p>{{message}}</p>
            <slot></slot>
        </div>
    </section>
</template>

<script>
export default {
  name: 'popup',
  props: ['title', 'message']
}
</script>
