.popup{
  position: relative;
  width: 320px;
  background: white;
  margin: auto;
  padding: 1px 1px 10px;
  top: calc(50% - 100px);
  border-radius: 4px;
  text-align: center;
  animation: fadeIn 0.5s 1 linear;
  @include default-box-shadow;
  h2{
    @include main-theme-regular-font;
    font-weight: 100;
    margin: 0 0 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 0;
    text-align: center;
    background-color: $main-theme-color;
  }
  p{
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
  }
  button{
    margin: auto;
  }
  &-overlay{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
  }
}