<template>
    <form class="converter-form" v-on:submit.prevent="submit">
        <input class="converter-form__field" type="number" name="nominal" placeholder="Номинал..." required/>
        <select class="converter-form__field" name="from" >
            <option disabled selected>Выберите валюту</option>
            <option v-for="(currency, index) in $props.currencies"
                    v-bind:value="currency.id"
                    v-bind:key="index">
                {{currency.currencyName}}
            </option>
        </select>
        <label class="converter-form__label"></label>
        <select class="converter-form__field" name="to">
            <option disabled selected>Выберите валюту</option>
            <option v-for="(currency, index) in $props.currencies"
                    v-bind:value="currency.id"
                    v-bind:key="index">
                {{currency.currencyName}}
            </option>
        </select>
        <p v-if="convertResult" class="converter-form__result">{{convertResult}}</p>
        <button type="submit" title="Конвертировать"
                v-bind:class="'converter-form__submit ' + processLoading"></button>
    </form>
</template>

<script>
export default {
  name: 'ConverterForm',
  props: ['submit', 'currencies', 'convert-result', 'loading'],
  computed: {
    processLoading: function () {
      return this.$props.loading ? 'converter-form__submit--active' : ''
    }
  }
}
</script>
