<template>
    <main class="main container">
        <converter-form
                :submit="convert"
                v-bind:currencies="currencies"
                v-bind:convert-result="convertResult"
                v-bind:loading="processLoading"
        />
    </main>
</template>

<script>
import ConverterForm from './ConverterForm'

import {mapActions, mapState} from 'vuex'

export default {
  name: 'CurrencyConverter',
  components: {ConverterForm},
  computed: {
    ...mapState({
      currencies: state => state.converterStore.currencies,
      convertResult: state => state.converterStore.value,
      processLoading: state => state.converterStore.loading
    })
  },
  methods: {
    ...mapActions({
      setComponentTitle: 'setComponentTitle',
      getCurrencies: 'getCurrencies',
      getConvertedValue: 'getConvertedValue'
    }),
    convert: function (event) {
      let formData = {}
      for (let field of event.target) {
        if (field.nodeName !== 'BUTTON') {
          formData[`${field.name}`] = field.value
        }
      }
      this.getConvertedValue(formData)
    }
  },
  created () {
    this.setComponentTitle('Конвертор валют')
    if (!this.currencies) {
      this.getCurrencies()
    }
  }
}
</script>
