.converter{
  &-form{
    margin: 40px auto;
    padding: 30px 20px 10px;
    width: 450px;
    color: white;
    text-align: center;
    border-radius: 4px;
    background-color: $main-theme-color;
    @include default-box-shadow;
    &__field{
      border: 1px solid $first-theme-border-color;
      border-radius: 4px;
      font-size: 30px;
      padding: 5px 10px;
      background-color: white;
      width: 100%;
      margin-bottom: 20px;
      display: block;
      box-sizing: border-box;
      color: $first-theme-font-color;
      option{
        font-size: 16px;
      }
    }
    input[type=number]{
      &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
    &__submit{
      color: white;
      background: none;
      border: none;
      font-size: 40px;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      padding: 0;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:focus{
        outline: none;
      }
      &::before{
        @include refresh-icon;
      }
      &:hover{
        transform: rotate(180deg);
      }
      &--active{
        animation: spin 0.8s infinite linear;
      }
    }
    &__label{
      position: relative;
      top: -10px;
      font-size: 40px;
      &::before{
        @include two-way-arrow-icon
      }
    }
    &__result{
      font-size: 60px;
      color: white;
      margin: 10px 0;
      text-align: center;
      &::before{
        content: '=';
        font-size: 40px;
        display: block;
      }
    }
  }
}

@keyframes spin {
  from{transform: rotate(0deg); transform-origin: center;}
  to{transform: rotate(360deg); transform-origin: center;}
}