doctype html
html(lang="ru")
    head
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        title=title
        link(rel='stylesheet', type='text/css', href='/static/css/app.css')

    body
        #app

    script(type='text/javascript', src='/static/js/manifest.js')
    script(type='text/javascript', src='/static/js/app.js')