.create-todo-btn{
  border-radius: 4px;
  background: $main-theme-color;
  margin: 10px 5px;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  border: 1px solid $main-theme-color;
  //box-shadow: 0 1px 3px 0 gray;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.back-btn{
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  background: $second-theme-font-color;
  margin: 10px 5px;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  border: 1px solid $second-theme-font-color;
  //box-shadow: 0 1px 3px 0 gray;
  text-decoration: none;
  transition: transform 0.3s ease;
}

@each $btn in (back-btn, create-todo-btn) {
  .#{$btn} {
    &:hover{
      transform: scale(1.02);
    }
  }
}

.input{
  font-size: 20px;
  border: 2px solid $first-theme-border-color;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  &--search{
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $first-theme-border-color;
    border-radius: 0;
    width: 150px;
    padding: 5px 0;
    height: 50%;
    transform: translateX(50px);
    margin-right: -150px;
    transition: all 0.3s ease-in-out;
    &:focus{
      outline: none;
    }
  }
  &--search-show{
    margin-right: 0;
    transform: translateX(0);
  }
}

.todo-form{
  display: block;
  margin: 20px auto;
  width: 60%;
  .title{
    text-align: center;
    &::before{
      color: $main-theme-color;
    }
  }
  input[type=text], input[type=email], input[type=password], textarea{
    margin: 5px 0 10px;
    width: 100%;
    transition: outline-color 0.3s ease-in-out;
    &:focus{
      outline-color: $main-theme-color;
    }
  }
  textarea{
    height: 200px;
  }
}

.checkbox{
  display: inline-block;
  position: relative;
  float: right;
  &:not(:first-child) {
    margin-left: 5px;
  }
  label{
    text-align: center;
    font-size: 16px;
    border-radius: 100%;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &::before{
      position: relative;
      top: 5px;
      @include check-icon;
    }
    &:hover {
      color: $second-theme-border-color;
    }
  }
  input[type=radio]:checked{
    &+label{
      color: $second-theme-border-color;
    }
  }
  &--not-important{
    label{
      color: $main-theme-color;
    }
  }
  &--important{
    label{
      color: $third-theme-font-color;
    }
  }
  &--very-important{
    label{
      color: $second-theme-font-color;
    }
  }
  input[type=radio] {
    display: none;
  }
}

.importance{
  &-block{
    margin-bottom: 10px;
    padding: 10px 0 7px;
    border-bottom: 2px solid $second-theme-border-color;
  }
  &-label{
    font-size: 20px;
  }
 }