<template>
    <div class="importance-block">
        <span class="importance-label">Важность: </span>
        <div class="checkbox checkbox--not-important">
            <input type="radio" name="importance" v-bind:value="c" id="not-important" v-bind:checked="checkImportance(c)" />
            <label for="not-important" title="Важно, но не очень"></label>
        </div>
        <div class="checkbox checkbox--important">
            <input type="radio" name="importance" v-bind:value="b" id="important" v-bind:checked="checkImportance(b)" />
            <label for="important" title="Важно"></label>
        </div>
        <div class="checkbox checkbox--very-important">
            <input name="importance" type="radio" v-bind:value="a" id="very-important" v-bind:checked="checkImportance(a)"/>
            <label for="very-important" title="Очень важно"></label>
        </div>
    </div>
</template>

<script>
export default {
  name: 'RadioBlock',
  props: ['checked'],
  data: () => {
    return {
      a: 'A',
      b: 'B',
      c: 'C'
    }
  },
  methods: {
    checkImportance: function (importance) {
      if (this.$props.checked === importance) {
        return true
      }
    }
  }
}
</script>
