<template>
    <input placeholder="Найти заметку..." v-bind:class="showSearch" v-on:input="change"/>
</template>

<script>
export default {
  name: 'SearchField',
  props: ['show', 'change'],
  computed: {
    showSearch: function () {
      if (this.$props.show) {
        return 'input input--search input--search-show'
      } else {
        return 'input input--search'
      }
    }
  }
}
</script>
