<template>
   <form v-on:submit.prevent="submit" class="todo-form">
       <h1 v-bind:class="'title title--'+titleType">{{title}}</h1>
       <slot></slot>
       <div class="button-group">
           <button type="submit" class="create-todo-btn">{{buttonText}}</button>
           <router-link v-if="backLink" class="back-btn" :to="{path: backLink}" >{{!backLinkValue ? "Назад" : backLinkValue}}</router-link>
       </div>
   </form>
</template>

<script>
export default {
  name: 'todo-form',
  props: {
    'button-text': '',
    'submit': {},
    title: '',
    backLink: '',
    titleType: '',
    backLinkValue: ''
  }
}
</script>
