<template>
   <main class="container">
       <section class="create-todo">
           <todo-form button-text="Сохранить"
                      :submit="createTodo"
                      title="Создать заметку"
                      titleType="create"
                      back-link="/">
               <radio-block/>
               <input placeholder="Заголовок..." name="title" type="text" class="input" required/>
               <textarea placeholder="Запись..." name="note" class="input"></textarea>
           </todo-form>
            <popup v-if="notification.isActive"
                   v-bind:title="notification.title"
                   v-bind:message="notification.message">
                <button class="button button--default" @click="closePopup">Ok</button>
            </popup>
       </section>
   </main>
</template>

<script>
import TodoForm from './../elemets/TodoForm'
import { mapActions, mapState } from 'vuex'
import Popup from './../popup/Popup'
import RadioBlock from './../elemets/RadioBlock'

export default {
  components: {
    Popup,
    TodoForm,
    RadioBlock
  },
  name: 'create-todo',
  computed: {
    ...mapState({
      notification: state => state.todosStore.notification
    })
  },
  methods: {
    ...mapActions({add: 'add', closeNotification: 'closeNotification'}),
    createTodo: function (event) {
      let formData = {
        title: event.target.title.value,
        text: event.target.note.value,
        importance: event.target.importance.value
      }
      this.add(formData)
      event.target.title.value = ''
      event.target.note.value = ''
    },
    closePopup: function () {
      this.closeNotification(false)
    }
  }
}
</script>
