<template>
    <main class="container">
        <section class="edit-todo">
            <todo-form button-text="Изменить"
                       :submit="editTodo"
                       title="Редактировать заметку"
                       titleType="edit"
                       back-link="/">
                <radio-block v-bind:checked="todo.importance"/>
                <input v-bind:value="todo.title" name="title" type="text" class="input" required/>
                <textarea v-bind:value="todo.text" name="note" class="input"></textarea>
            </todo-form>
            <popup v-if="notification.isActive"
                   v-bind:title="notification.title"
                   v-bind:message="notification.message">
                <button class="button button--default" @click="closePopup">Ok</button>
            </popup>
        </section>
    </main>
</template>

<script>
import {mapGetters, mapActions, mapState} from 'vuex'
import TodoForm from './../elemets/TodoForm'
import Popup from './../popup/Popup'
import RadioBlock from '../elemets/RadioBlock'

export default {
  components: {RadioBlock, TodoForm, Popup},
  name: 'edit-todo',
  computed: {
    ...mapGetters({
      getTodoById: 'getTodoById'
    }),
    ...mapState({
      notification: state => state.todosStore.notification
    }),
    todo: function () {
      let id = this.$route.params.id
      return this.getTodoById(id)
    }
  },
  methods: {
    ...mapActions({edit: 'edit', closeNotification: 'closeNotification'}),
    editTodo: function (event) {
      let formData = {
        id: this.$route.params.id,
        title: event.target.title.value,
        text: event.target.note.value,
        importance: event.target.importance.value
      }
      this.edit(formData)
    },
    closePopup: function () {
      this.closeNotification(false)
    }
  }
}
</script>
