.detail-todo{
  img{
    width: 400px;
    display: block;
    margin: auto;
  }
}

.todo-list{
  width: 100%;
  margin: auto;
  list-style-type: none;
  padding: 0;
  border-top: 2px solid $second-theme-border-color;
  &__item{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $first-theme-border-color;
    font-size: 20px;
    text-align: left;
    padding: 10px 0;
    color: $first-theme-font-color;
    a{
      text-decoration: none;
      color: $first-theme-font-color;
    }
  }
  .buttons-group{
    .button--edit{
      margin-right: 10px;
    }
  }
}

.link{
  display: block;
  &::before{
    display: inline-block;
    width: 30px;
    font-size: 16px;
    text-align: center;
    @include check-icon;
  }
  &--very-important{
    &::before{
      color: $second-theme-font-color;
    }
  }
  &--important{
    &::before{
      color: $third-theme-font-color;
    }
  }
  &--not-important{
    &::before{
      color: $main-theme-color;
    }
  }
}

.date{
  font-size: 14px;
  margin-left: 15px;
  padding-left: 10px;
  border-left: 1px solid $first-theme-border-color;
  &::before{
    display: inline;
    padding-right: 5px;
    @include date-icon;
    color: $second-theme-border-color;
    font-size: 14px;
  }
}


