<template>
    <div>
        <ul class="todo-list" v-if="todos.length">
            <li class="todo-list__item " v-for="(todo, index) in todosSearch" v-bind:key="index">
                <router-link v-bind:class="linkClass(todo)" :to="{path: 'todo/'+ todo._id}">Тема: {{todo.title}}
                <time class="date" title="Дата редактирования">{{todo.date}}</time>
                </router-link>
                <div class="buttons-group">
                    <button-edit @click.native="editTodo(todo._id)" title="Редактировать запись"/>
                    <delete-button @click.native="deleteTodo(todo._id)" title="Удалить запись"/>
                </div>
            </li>
        </ul>
        <p v-else>Заметок нет... Пока...</p>
        <popup v-if="notification.isActive"
               v-bind:title="notification.title"
               v-bind:message="notification.message">
            <button class="button button--default" @click="closePopup">Ok</button>
        </popup>
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import DeleteButton from './../elemets/buttons/DeleteButton'
import ButtonEdit from './../elemets/buttons/ButtonEdit'
import Popup from '../popup/Popup'

export default {
  components: {
    Popup,
    DeleteButton,
    ButtonEdit},
  name: 'todo-list',
  computed: {
    ...mapState({
      todos: state => state.todosStore.todos,
      notification: state => state.todosStore.notification,
      todosFilter: state => state.todosStore.todosFilter
    }),
    todosSearch: function () {
      return this.todos.filter(todo => {
        return (
          (todo.title.toLowerCase().indexOf(this.todosFilter.toLowerCase()) !== -1) ||
          (todo.date.toLowerCase().indexOf(this.todosFilter.toLowerCase()) !== -1)
        )
      })
    }
  },
  methods: {
    ...mapActions({
      removeTodo: 'removeTodo',
      closeNotification: 'closeNotification',
      getTodos: 'getTodos',
      setComponentTitle: 'setComponentTitle'
    }),
    linkClass: (todo) => {
      switch (todo.importance) {
        case 'A':
          return 'link link--very-important'
        case 'B':
          return 'link link--important'
        case 'C':
          return 'link link--not-important'
      }
    },
    deleteTodo: function (id) {
      this.removeTodo(id)
    },
    editTodo: function (id) {
      this.$router.push({path: `/todo/${id}`})
    },
    closePopup: function () {
      this.closeNotification(false)
    }
  },
  created () {
    if (this.todos.length === 0) {
      this.getTodos()
    }
    this.setComponentTitle('Заметки')
  }
}
</script>
