.button{
  border: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  @each $header-btn in (search, settings) {
    &--#{$header-btn} {
      background-color: #fff;
      color: $first-theme-font-color;
      transition: all 0.3s ease;
      &::before{
        font-size: 25px;
        line-height: normal;
      }
      &:hover{
        color: $main-theme-color;
      }
      &-active{
        color: $main-theme-color;
      }
    }
  }
  &--search{
    &::before{
      @include search-icon;
    }
  }
  &--settings{
    &::before{
      @include settings-icon;
    }
  }
  @each $button in (delete, create, edit) {
    &--#{$button} {
      &:hover{
        transform: scale(1.05);
      }
    }
  }
  &--delete{
    background-color: #fff;
    padding: 0;
    width: 25px;
    text-align: left;
    color: $second-theme-font-color;
    &::before{
      @include minus-icon;
      font-size: 25px;
      line-height: normal;
    }
  }

  &--edit{
    background-color: #fff;
    padding: 0;
    width: 25px;
    text-align: left;
    color: $main-theme-color;
    &::before{
      position: relative;
      top: 2px;
      @include edit-icon;
      font-size: 25px;
      line-height: normal;
      font-weight: bold;
    }
  }

  &--create{
    display: block;
    width: 25px;
    text-decoration: none;
    color: $main-theme-color;
    &::before{
      @include plus-icon;
      font-size: 25px;
      line-height: normal;
    }
  }
  &-group{
    text-align: right;
  }
  &--default{
    border-radius: 4px;
    background: $main-theme-color;
    margin: 10px 5px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border: 1px solid $main-theme-color;
    //box-shadow: 0 1px 3px 0 gray;
    transition: transform 0.3s ease;
  }
  @each $btn in (default) {
    &--#{$btn} {
      &:hover{
        transform: scale(1.02);
      }
    }
  }
}