<template>
    <button v-bind:class="'button button--settings ' + activity" v-bind:title="title"></button>
</template>

<script>
export default {
  name: 'SettingsButton',
  props: ['title', 'isActive'],
  computed: {
    activity: function () {
      if (this.$props.isActive) {
        return 'button--settings-active'
      } else {
        return ''
      }
    }
  }
}
</script>
