<template>
  <div>
    <login v-if="isAccess===false"/>
    <main v-else-if="isAccess===true" class="main container">
      <router-link to="create-todo" class="button button--create" title="Сделать заметку"> </router-link>
      <todo-list/>
    </main>
    <h1 v-else>Загрузка...</h1>
  </div>
</template>

<script>
import TodoForm from './elemets/TodoForm'
import TodoList from './todos/TodoList'
import {mapState} from 'vuex'
import Login from './autorization/Login'

export default {
  components: {
    Login,
    TodoList,
    TodoForm
  },
  name: 'Main',
  computed: {
    ...mapState({
      isAccess: state => state.userStore.access
    })
  }
}
</script>
