@import "../assets/scss/icons";
@import "./elemets/forms";
@import "./elemets/links/links";
@import "./header/header";
@import "animals-gallery/animals-gallery";
@import "./elemets/buttons/buttons";

html{
  height: 100vh;
  background-color: white;
}


body{
  @include main-theme-regular-font;
  font-size: 16px;
  color: $first-theme-font-color;
}

#app{
  overflow: hidden;
}

h1{
  font-weight: normal;
}

.container{
  max-width: 1024px;
  margin: auto;
}

.start-image{
  width: 200px;
  display: block;
  margin: auto;
}

.title{
  font-size: 25px;
  text-transform: capitalize;
  &::before{
    @include list-icon();
    padding-right: 5px;
    color: $first-theme-font-color;
  }
  &--create{
    &::before{
      @include pencil-icon();
    }
  }
  &--edit{
    &::before{
      @include edit-icon();
    }
  }
  &--access{
    &::before{
      @include access-icon();
    }
  }
  &--register{
    &::before{
      @include user-icon();
    }
  }
  &--none{
    &::before{
      content: '';
    }
  }
}

.main{
  display: flex;
  flex-flow: column;
  margin-top: 40px;
  .button{
    &--create{
      margin-left: auto;
      margin-bottom: 5px;
    }
  }
  h5{
    font-size: 40px;
    margin: 0;
  }
}
@import "todos/todos";
@import "popup/popup";
@import "autorization/autoriztation";
@import "user/user";
@import "currency-converter/currency-converter";
@import "chat/chat";