<template>
    <main class="container">
        <todo-form button-text="Войти"
                   :submit="login"
                   title="Авторизация"
                   titleType="access"
                   back-link="/register"
                   back-link-value="Регистрация"
                   >
            <input placeholder="Email..." name="email" type="email" class="input" required/>
            <input placeholder="Пароль..." name="password" type="password" autocomplete="true" class="input" required>
        </todo-form>
        <popup v-if="notification.isActive"
               v-bind:title="notification.title"
               v-bind:message="notification.message">
            <button class="button button--default" @click="closePopup">Ok</button>
        </popup>
    </main>
</template>

<script>
import TodoForm from '../elemets/TodoForm'
import {mapActions, mapState} from 'vuex'
import Popup from '../popup/Popup'

export default {
  components: {
    Popup,
    TodoForm},
  name: 'login',
  computed: {
    ...mapState({
      user: state => state.userStore.userInfo,
      notification: state => state.userStore.notification,
      isSuccess: state => state.userStore.isAuthorize
    })
  },
  methods: {
    ...mapActions({
      setAccess: 'setAccess',
      closeNotification: 'closeNotificationLogin',
      setSuccessAuthorization: 'setSuccessAuthorization'
    }),
    login: function (event) {
      let email = event.target.email.value
      let password = event.target.password.value
      this.setSuccessAuthorization({email: email, password: password})
    },
    closePopup: function () {
      if (this.isSuccess) {
        this.setAccess(true)
      }
      this.closeNotification({title: '', maessage: '', isActive: false})
    }
  }
}
</script>
