<template>
    <main class="container">
        <todo-form button-text="Отправить"
                   :submit="register"
                   title="Регистрация"
                   titleType="register"
                   back-link="/"
        >
            <input type="file" name="avatar" class="input" placeholder="Изображение...">
            <input placeholder="Имя..." name="name" type="text" class="input" autocomplete="true" required/>
            <input placeholder="Email..." name="email" type="email" class="input" autocomplete="true" required/>
            <input placeholder="Пароль..." name="password" type="password" autocomplete="true" class="input" required>
            <input placeholder="Подтверждение пароля..." name="passwordConfirm" type="password" autocomplete="true" class="input" required>
        </todo-form>
        <popup v-if="notification.isActive"
               v-bind:title="notification.title"
               v-bind:message="notification.message">
            <button class="button button--default" @click="closePopup">Ok</button>
        </popup>
    </main>
</template>

<script>
/* eslint-disable no-undef */
import TodoForm from '../elemets/TodoForm'
import Popup from '../popup/Popup'
import {mapState, mapActions} from 'vuex'

export default {
  components: {
    Popup,
    TodoForm},
  name: 'register',
  computed: {
    ...mapState({
      notification: state => state.userStore.notification
    })
  },
  methods: {
    ...mapActions({
      registration: 'registerUser',
      closeNotification: 'closeNotificationLogin'
    }),
    register: function (event) {
      let userData = new FormData()
      for (let field of event.target) {
        if (field.nodeName !== 'BUTTON') {
          if (field.name === 'avatar') {
            userData.append(`${field.name}`, field.files[0])
          } else {
            userData.append(`${field.name}`, field.value)
          }
        }
      }
      for (let field of event.target) {
        if (field.nodeName !== 'BUTTON') {
          field.value = ''
        }
      }
      this.registration(userData)
    },
    closePopup: function () {
      this.closeNotification({title: '', message: '', isActive: false})
    }
  }
}
</script>
