.user{
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid $first-theme-border-color;
  &-block{
    position: relative;
    z-index: 10;
    background-color: white;
    height: auto;
    width: 100%;
  }
  &-info{
    display: inline-block;
    margin: 0;
    vertical-align: super;
    line-height: 63px;
    img{
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: auto;
      padding: 2px 0px;
      border-radius: 4px;
      margin-right: 10px;
      border: 1px solid $first-theme-border-color;
    }
    i{
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      font-size: 35px;
      width: 50px;
      height: 45px;
      border-radius: 4px;
      margin-right: 10px;
      border: 1px solid $first-theme-border-color;
      position: relative;
      &::before{
        @include unknown-image-icon;
        position: absolute;
        top: 7px;
        left: 15px;
        line-height: normal;
        font-size: 30px;
        font-style: normal;
      }
    }
  }
  .button--settings{
    padding: 0 10px;
  }
  .todo-form{
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    .title{
      display: none;
    }
  }
  .popup{
    width: 520px;
  }
  &-menu{
    position: absolute;
    transition: transform 0.3s ease-in-out;
    border: 1px solid $first-theme-border-color;
    border-top: none;
    z-index: 1;
    margin: 0;
    bottom: 0;
    padding: 0;
    width: 80%;
    text-align: left;
    list-style: none;
    transform: translateY(0);
    background-color: white;
    &__item{
      padding: 5px 15px;
      cursor: pointer;
      transition: color 0.3s ease;
      &:not(:last-child) {
        border-bottom: 1px solid $first-theme-border-color;
      }
      @each $icon in (user, exit) {
        &--#{$icon} {
          &::before{
            padding-right: 5px;
            transition: color 0.3s ease;
          }
        }
      }
      &--user{
        &::before{
          @include user-icon;
        }
      }
      &--exit{
        &::before{
          @include sign-out-icon;
        }
      }
      &:hover{
        color: $main-theme-color;
        &::before{
          color: $main-theme-color;
        }
      }
    }
    &--open{
      transform: translateY(102%);
    }
  }
}