<template>
    <div class="user">
        <div class="user-block">
            <p class="user-info"><img
                    v-if="userPic !== 'undefined'"
                    v-bind:src="userPic"
                    v-bind:alt="userPic">
                <i v-else-if="userPic === 'undefined'"></i>
                {{userName}}</p>
            <settings-button title="Меню пользователя" @click.native='openMenu'
                             v-bind:isActive="menu"/>
            <popup v-if="active"
                   v-bind:title="title" @click.native="closePopup">
                <todo-form
                        button-text="Сохранить"
                        :submit="editUser"
                        titleType="none">
                    <input type="file" name="avatar" class="input"/>
                    <input v-bind:value="userInfo.name" name="name" type="text" class="input" />
                    <input v-bind:value="userInfo.email" name="email" type="text" class="input" />
                </todo-form>
            </popup>
            <popup v-if="notification.isActive"
                   v-bind:title="notification.title"
                   v-bind:message="notification.message">
                <button class="button button--default" @click="closeNotif">Ok</button>
            </popup>
        </div>
        <user-menu :click="openUserPopup" v-bind:active="menu"/>
    </div>
</template>

<script>
/* eslint-disable no-undef */

import SettingsButton from '../elemets/buttons/SettingsButton'
import Popup from '../popup/Popup'
import {mapActions, mapState} from 'vuex'
import TodoForm from '../elemets/TodoForm'
import UserMenu from './UserMenu'

export default {
  name: 'UserBlock',
  components: {UserMenu, TodoForm, Popup, SettingsButton},
  props: ['user-name', 'user-pic'],
  data () {
    return {
      active: false,
      title: 'Редактирование данных пользователя',
      menu: false
    }
  },
  computed: {
    ...mapState({
      userInfo: state => state.userStore.userInfo,
      notification: state => state.userStore.notification
    })
  },
  methods: {
    ...mapActions({edit: 'editUser', closeNotification: 'closeNotificationLogin'}),
    editUser: function (event) {
      let editedData = new FormData()

      for (let field of event.target) {
        if (field.nodeName !== 'BUTTON') {
          if (field.name === 'avatar') {
            editedData.append(`${field.name}`, field.files[0])
          } else {
            editedData.append(`${field.name}`, field.value)
          }
        }
      }
      this.edit(editedData)
      this.active = false
    },
    openUserPopup: function () {
      !this.active ? this.active = true : this.active = false
    },
    openMenu: function () {
      !this.menu ? this.menu = true : this.menu = false
    },
    closePopup: function (event) {
      if (event.target.className === 'popup-overlay') {
        this.active = false
      }
    },
    closeNotif: function () {
      this.closeNotification({title: '', message: '', isActive: false})
    }
  }
}
</script>
