<template>
    <ul v-bind:class="menuActive">
        <li class="user-menu__item user-menu__item--user" v-on:click="click">Профиль</li>
        <li class="user-menu__item user-menu__item--exit" @click="signOut">Выход</li>
    </ul>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: 'UserMenu',
  props: ['click', 'active'],
  computed: {
    menuActive: function () {
      return this.$props.active ? 'user-menu user-menu--open' : 'user-menu'
    }
  },
  methods: {
    ...mapActions({
      exitUser: 'exitUser',
      clearStoreAction: 'clearStoreAction'
    }),
    signOut: function () {
      this.exitUser()
      this.clearStoreAction()
      this.$router.push({path: '/'})
    }
  }
}
</script>
