<template>
  <div id="app">
    <Header v-bind:title="title"/>
    <router-view/>
  </div>
</template>

<script>
import Header from './components/header/Header'
import {mapActions, mapState} from 'vuex'

export default {
  components: {Header},
  name: 'App',
  methods: {
    ...mapActions({getUserSession: 'getAuthorizedUser'})
  },
  computed: {
    ...mapState({title: state => state.appStore.title})
  },
  created () {
    this.getUserSession()
  }
}
</script>

<style lang="scss">
@import "./assets/scss/styles";
</style>
