@font-face {
  font-family: FontAwesome;
  src: url('assets/fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('assets/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('assets/fonts/FontAwesome.otf?v=3.0.1') format("opentype"),
  url('assets/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('assets/fonts/fontawesome-webfont.woff2?v=3.0.1') format('woff2'),
  url('assets/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoRegular;
  src: url(assets/fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoBold;
  src: url(assets/fonts/Roboto-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoThin;
  src: url(assets/fonts/Roboto-Thin.ttf);
  font-weight: normal;
  font-style: normal;
}