@mixin list-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f022';
}

@mixin search-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f002';
}

@mixin plus-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f0fe';
}

@mixin minus-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f146';
}

@mixin edit-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f044';
}

@mixin pencil-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f067';
}

@mixin access-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f2bb';
}

@mixin user-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f007';
}

@mixin check-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f111';
}

@mixin date-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f133';
}

@mixin settings-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f142';
}

@mixin sign-out-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f057';
}

@mixin currency-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f155';
}

@mixin notes-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f0ca';
}

@mixin two-way-arrow-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f07d';
}

@mixin refresh-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f021';
}

@mixin chat-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f086';
}

@mixin mail-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f0e0';
}

@mixin clock-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f017';
}

@mixin unknown-image-icon{
  font-family: FontAwesome, sans-serif;
  content: '\f128';
}
