$main-theme-color: #42b983;
$first-theme-font-color: rgba(0,0,0,0.54);
$second-theme-font-color: #ff5252;
$third-theme-font-color: #FFEE58;
$first-theme-border-color: rgba(0,0,0,0.14);
$second-theme-border-color: rgba(0,0,0,0.4);

@mixin main-theme-regular-font{
  font-family: RobotoRegular, Arial, "Helvetica Neue", sans-serif;
}

@mixin main-theme-bold-font{
  font-family: RobotoBold, Arial, "Helvetica Neue", sans-serif;
}

@mixin main-theme-thin-font{
  font-family: RobotoThin, Arial, "Helvetica Neue", sans-serif;
}

@mixin default-box-shadow{
  box-shadow: 0px 4px 16px -2px $second-theme-border-color;
}

