<template>
    <header class="header" v-if="isAccess">
        <h1 class="title">{{$props.title}}</h1>
        <div class="settings">
            <user-block v-bind:user-name="userName" v-bind:user-pic="userPic"/>
            <notes-link title="Заметки"/>
            <chat-link title="Чат"/>
            <currency-link title="Конвертор валют"/>
            <search-button @click.native="clickSearchHandler" v-bind:isActive="isShow" title="Открыть строку поиска"/>
            <search-field v-bind:show="isShow" :change="searchEventHandler"/>
        </div>
    </header>
    <header class="header" v-else>
        <h1 class="title">Органайзер</h1>
    </header>
</template>

<script>
import SearchButton from '../elemets/buttons/SearchButton'
import SearchField from '../elemets/SearchField'
import CurrencyLink from '../elemets/links/CurrencyLink'

import {mapState, mapActions} from 'vuex'
import UserBlock from '../user/UserBlock'
import NotesLink from '../elemets/links/NotesLink'
import ChatLink from '../elemets/links/ChatLink'

export default {
  components: {ChatLink, NotesLink, CurrencyLink, UserBlock, SearchField, SearchButton},
  name: 'Header',
  props: ['title'],
  data () {
    return {
      isShow: false
    }
  },
  computed: {
    ...mapState({
      isAccess: state => state.userStore.access,
      userName: state => state.userStore.userInfo.name,
      userPic: state => state.userStore.userInfo.avatar
    }),
    routeHeader: function () {
      return this.$router.history.current.name
    }
  },
  methods: {
    ...mapActions({searchAction: 'searchAction'}),
    clickSearchHandler: function () {
      this.isShow ? this.isShow = false : this.isShow = true
    },
    searchEventHandler: function (event) {
      this.searchAction(event.target.value)
    }
  }
}
</script>
