.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-bottom: 1px solid $first-theme-border-color;
  .title{
    @include main-theme-regular-font;
    span{
      @include main-theme-thin-font;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 22px;
    }
  }
}

.settings{
  position: relative;
  background: white;
  z-index: 100;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}