.link{
  @each $link in (notes, currency, chat) {
    &-#{$link} {
      text-decoration: none;
      background-color: #fff;
      color: $first-theme-font-color;
      transition: all 0.3s ease;
      border: none;
      cursor: pointer;
      &:focus{
        outline: none;
      }
      &::before{
        padding: 0 10px;
        font-size: 25px;
        line-height: normal;
      }
      &.router-link-exact-active{
        color: $main-theme-color;
      }
      &:hover{
        color: $main-theme-color;
      }
    }
  }
  &-currency{
    &::before{
      @include currency-icon;
    }
  }
  &-notes{
    &::before{
      @include notes-icon;
    }
  }
  &-chat{
    &::before{
      @include chat-icon;
    }
  }
}