<template>
    <main class="animals-gallery">
        <h1>Animals!!!</h1>
        <div class="gallery">
            <img
               v-for="(animal, i) in animals.animals"
               v-bind:key="i"
               v-bind:src="animal.thumbnailUrl"/>
        </div>
        <router-link to="/">back</router-link>
    </main>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'animals-gallery',
  computed: {
    ...mapState({
      animals: state => state.animalsGalleryStore
    })
  },
  created () {
    this.$store.dispatch('getAnimals')
  }
}
</script>
