<template>
    <main class="main container">
        <section class="chat">
            <div class="chat-screen">
                <div
                    class="chat-screen__message"
                    v-for="(message, index) in messages"
                    v-bind:key="index">
                    <time><i>{{message.time}}</i>{{message.user}}</time>
                    <p>{{message.text}}</p>
                </div>
            </div>
            <form class="chat__form" @submit.prevent="sendMessage">
                <input type="text" name="message">
                <button type="submit"></button>
            </form>
        </section>
    </main>
</template>

<script>
/* eslint-disable new-cap */

import {mapState, mapActions, mapGetters} from 'vuex'

export default {
  name: 'Chat',
  computed: {
    ...mapState({messages: state => state.chatStore.messages})
  },
  sockets: {
    connect: function () {
      this.$socket.emit('room', 'room1337')
    },
    customEmit: function (val) {
      this.setMessage(val.message)
    }
  },
  methods: {
    ...mapActions({setMessage: 'setMessage', setComponentTitle: 'setComponentTitle'}),
    ...mapGetters({getUserData: 'getUserData'}),
    sendMessage: function (event) {
      const user = this.getUserData()

      this.$socket.emit('sendMessage', {
        message: {
          user: user.name,
          time: `${new Date().getHours()}:${new Date().getMinutes()}`,
          text: event.target.message.value
        }
      })
      event.target.message.value = ''
    }
  },
  created () {
    this.setComponentTitle('Чат')
  }
}
</script>
