.chat{
  background-color: rgba(0,0,0,0.08);
  width: 60%;
  margin: auto auto 20px;
  padding: 10px;
  border-radius: 4px;
  @include default-box-shadow;
  &-screen{
    max-height: 500px;
    overflow-y: auto;
    &__message{
      color: $first-theme-font-color;
      text-align: left;
      border-bottom: 1px solid $main-theme-color;
      &:nth-child(even) {
        border-bottom: 1px dashed $second-theme-font-color;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      time{
        color: $second-theme-border-color;
        font-style: italic;
        font-size: 13px;
      }
      p{
        font-size: 18px;
        margin: 10px 0 5px;
      }
      i{
        &::before{
          @include clock-icon;
          font-size: 14px;
          padding-right: 3px;
        }
        &::after{
          content: '|';
          padding: 0 5px;
        }
        font-style: normal;
      }
    }
  }
  &__form{
    margin-top: 20px;
    input[name=message] {
      width: 92%;
      box-sizing: border-box;
      border: none;
      height: 30px;
      padding: 0 10px;
      &:focus{
        outline: $second-theme-font-color;
      }
    }
    button[type=submit] {
      cursor: pointer;
      background: none;
      border: none;
      width: 40px;
      color: $main-theme-color;
      text-align: center;
      &:focus{
        outline: none;
      }
      &::before{
        @include mail-icon;
        font-size: 26px;
        line-height: normal;
        position: relative;
        top: 4px
      }
      &:hover{
        &::before{
          color: $first-theme-font-color;
        }
      }
    }
  }
}